.screen {
  height: 100vh;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}

.screen h1 {
  font-size: 60px;
  font-family: "Cart";
  font-weight: 700;
  margin: 15px 0;
}

.screen p {
  width: 50%;
  font-weight: 500;
  line-height: 1.5;
}

.btnBox {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  gap: 10px;
}

.btnBox div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 15px;
  gap: 8px;
  border-radius: 5px;
  background-color: rgba(109, 109, 110, 0.7);
  color: #fff;
}

.btnBox div svg {
  font-size: 25px;
}

.btnBox div.play {
  background-color: white;
  color: #000;
}

.btnBox div:hover {
  background-color: rgba(109, 109, 110, 0.5);
}

.btnBox div.play:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.btnBox div button {
  font-size: 18px;
  color: #fff;
}

.btnBox div.play button {
  color: #000;
}
